.texto-menor {
    font-size: 0.81rem;
}

.divs-facilidades {
    width: 325px;
}

.cor-verde {
    color: #DAFF01;
}

.cor-lilas {
    background-color: #9353FF;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: white;
    color: #9353FF;
    border: 1px solid #9353FF;
}

.btn-primary {
    border: 1px solid #9353FF;
}